@inject IWebHostEnvironment _hostEnvironment;
@{
	ViewData["Title"] = "Home Page";

	const string entryName = "main";
	const string entryFile = $"https://localhost:3000/src/entries/{entryName}.ts";
}

<div id="app-entry"></div>


@section Head
{
	@if (_hostEnvironment.IsDevelopment())
	{
		<script type="module" src="@entryFile"></script>
	}
}