@page "/"
@using KHtmx.Constants

<PageTitle>Home</PageTitle>

<div
    hx-ext="sse"
    sse-connect="@ServerSentEventNames.SseEndpoint">

    <CommentCreateFormComponent/>

    <CommentTableComponent/>
</div>
