@page "/"
@using KHtmx.Constants

<PageTitle>Home</PageTitle>

<div
    hx-ext="sse"
    sse-connect="@ServerSentEventNames.SseEndpoint">

    <KHtmx.Components.Comments.CommentCreateFormComponent/>

    <KHtmx.Components.Comments.CommentTableComponent/>
</div>
