@page "/profile"
@using KHtmx.Constants
@using KHtmx.Domain.People
@using Microsoft.AspNetCore.Identity
@using KHtmx.Components.Comments.Data
@inject IHttpContextAccessor HttpContextAccessor
@inject IServiceScopeFactory ServiceScopeFactory


<PageTitle>Profile</PageTitle>

<div
    hx-sse="connect:@ServerSentEventNames.SseEndpoint">

    <h3>
        Your most recent comments
    </h3>

    <CommentTableComponent
        Filter="_filter" />
</div>

@code {

    private ICommentTableFilter? _filter;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContextAccessor.HttpContext?.User is not { Identity.IsAuthenticated: true } claimsPrincipal)
        {
            return;
        }

        using var serviceScope = ServiceScopeFactory.CreateScope();
        using var userManager = serviceScope.ServiceProvider.GetRequiredService<UserManager<KhtmxUser>>();
        if (await userManager.GetUserAsync(claimsPrincipal) is not {} user)
        {
            return;
        }

        _filter = new AuthorCommentTableFilter(user.Id);
    }

}
