<!DOCTYPE html>
<html
    lang="en">

<head>
    <meta charset="utf-8"/>
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"/>
    <meta
        name="description"
        content="HTMX Demo by @@KennethHoff"/>
    <base href="/"/>
    <link
        rel="stylesheet"
        href="app.css?v=@DateTimeOffset.UtcNow.ToString("O")"/>
    <link
        rel="icon"
        type="image/png"
        href="favicon.png"/>
    <script src="htmx/htmx.js"></script>
    <script src="htmx/extensions/idiomorph.js"></script>
    <script src="htmx/extensions/sse.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/debug.js"></script>
    <HeadOutlet/>
</head>

<body
    class="bg-background h-screen w-screen"
    hx-ext="morph">
<Routes/>

</body>

</html>
