@using Microsoft.Identity.Client
@using KHtmx.Account
@inject LinkGenerator LinkGenerator

<nav>
    <button
        class="bg-gray-800 text-white px-3 py-2 rounded-md text-sm font-medium"
        hx-trigger="click"
        hx-get="@LinkGenerator.GetPathByName(AccountEndpoints.GetRegisterDialog.EndpointName)"
        hx-target="closest nav"
        hx-swap="beforeend"
    >
        Register
    </button>
    
    
</nav>
