@using Microsoft.Identity.Client
@using KHtmx.Domain.People
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using KHtmx.Components.Account
@inject LinkGenerator LinkGenerator
@inject IHttpContextAccessor HttpContextAccessor
@inject IServiceScopeFactory ServiceScopeFactory

<nav
    class="flex flex-row place-content-between place-items-center">
    <a
        href="/"
        hx-boost="true"
        class="text-2xl font-bold text-blue-500">
        KHtmx
    </a>
    @if (!_isAuthenticated)
    {
        <div></div>
        <div>
            <button
                class="bg-action px-3 py-2 rounded-md text-sm font-medium"
                hx-trigger="click"
                hx-get="@LinkGenerator.GetPathByName(AccountEndpoints.GetRegisterDialog.EndpointName)"
                hx-target="closest nav"
                hx-swap="beforeend">
                Register
            </button>
            <button
                class="bg-action px-3 py-2 rounded-md text-sm font-medium"
                hx-trigger="click"
                hx-get="@LinkGenerator.GetPathByName(AccountEndpoints.GetLoginDialog.EndpointName)"
                hx-target="closest nav"
                hx-swap="beforeend">
                Login
            </button>
        </div>
    }
    else
    {
        <p>
            Hello,
            <a
                class="text-blue-500 font-bold"
                hx-boost="true"
                href="/profile">
                @_firstName @_lastName
            </a>
        </p>

        <button
            class="bg-action px-3 py-2 rounded-md text-sm font-medium hover:bg-action-hover"
            hx-trigger="click"
            hx-get="@LinkGenerator.GetPathByName(AccountEndpoints.Logout.EndpointName)"
            hx-target="closest nav"
            hx-swap="beforeend"
            hx-on::after-request="window.location.reload();"
        >
            Logout
        </button>
    }
</nav>

@code {

    private bool _isAuthenticated;

    private string? _firstName;
    private string? _lastName;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContextAccessor.HttpContext?.User is not { Identity.IsAuthenticated: true } claimsPrincipal)
        {
            return;
        }
        
        // TODO: Figure out how to get the UserManager from the DI container (By default, it's scoped to the request, which breaks Blazor)
        using var serviceScope = ServiceScopeFactory.CreateScope();
        using var userManager = serviceScope.ServiceProvider.GetRequiredService<UserManager<KhtmxUser>>();
        if (await userManager.GetUserAsync(claimsPrincipal) is not {} user)
        {
            return;
        }

        _isAuthenticated = true;

        _firstName = user.FirstName;
        _lastName = user.LastName;
    }

}
