@using KHtmx.Components.Comments.Data
@using KHtmx.Models
@inject LinkGenerator LinkGenerator

<div
    class="wrapper">


    <form
        class="flex flex-row gap-4 py-2"
        hx-patch="@LinkGenerator.GetPathByName(CommentEndpoints.UpdateComment.EndpointName, new { id = FormData?.Id })"
        hx-on::after-request="htmx.trigger('#comment_dialog', 'close')">
        <!-- TODO: Figure out how to only trigger the after-request event if there was no validation failure in the response -->
        <!-- I imagine I could trigger it via a Response Header of some sort -->
        @if (ValidationFailures is not [])
        {
            <ul>
                @foreach (var failure in ValidationFailures)
                {
                    <li
                        class="text-invalid">
                        @failure.ErrorMessage
                    </li>
                }
            </ul>
        }

        <AntiforgeryToken />

        <!-- Hidden CommentId Input for use in the Form Submission -->
        <input
            type="hidden"
            name="id"
            value="@FormData?.Id" />

        <!-- Comment Text Input -->
        <LabelledInput
            Id="comment_text" 
            Label="Comment"
            type="input"
            autofocus
            value="@FormData?.Text"
        />

        <button 
            Class="font-bold py-2 px-4 rounded bg-action hover:bg-action-active focus:bg-action-active">
            Edit
        </button>
    </form>
</div>

@code {

    [Parameter] public CommentEditFormDto? FormData { get; init; }

    [Parameter] public ValidationFailureCollection ValidationFailures { get; init; } = [];
}
