@using KHtmx.Components.Comments.Data
@using KHtmx.Models
@inject LinkGenerator LinkGenerator
<form
    class="flex flex-row gap-4 py-2"
    hx-post="@LinkGenerator.GetPathByName(CommentEndpoints.CreateComment.EndpointName)"
    hx-swap="outerHTML">
    @if (ValidationFailures is not [])
    {
        <ul>
            @foreach (var failure in ValidationFailures)
            {
                <li
                    class="text-invalid">
                    @failure.ErrorMessage
                </li>
            }
        </ul>
    }

    <AntiforgeryToken />

    <!-- Comment Input-->
    <LabelledInput
        Id="comment-create-form_input"
        Label="Comment"
        type="text"
        name="text"
        WrapperClass="flex-1"
        InputClass="border-primary focus:border-action w-full"
        autocomplete="off"
        value="@FormData?.Text"
        autofocus="@ValidationFailures.PropertyHasErrors(nameof(CommentCreateFormDto.Text))"
        aria-invalid="@ValidationFailures.PropertyHasErrors(nameof(CommentCreateFormDto.Text))"
    />

    <!-- Submit Button-->
    <button 
        Class="font-bold py-2 px-4 rounded bg-action hover:bg-action-active focus:bg-action-active"
        type="submit"
    >
        Create
    </button>
</form>

@code {

    [Parameter] public CommentCreateFormDto? FormData { get; init; }

    [Parameter] public ValidationFailureCollection ValidationFailures { get; init; } = [];
}
