@using KHtmx.Components.Comments.Data
@inject LinkGenerator LinkGenerator
<div
    class="wrapper">
    @if (Errors is not [])
    {
        <div
            class="text-red-800"
            role="alert">
            @ErrorMessage
        </div>
    }

    <form
        class="flex flex-row gap-4 py-2"
        hx-post="@LinkGenerator.GetPathByName(CommentEndpoints.CreateComment.EndpointName)"
        hx-target="closest .wrapper"
        hx-swap="outerHTML">
        <AntiforgeryToken />

        <!-- Comment Input-->
        <input
            type="text"
            placeholder="Comment"
            name="text"
            value="@FormData?.Text" />

        <!-- Submit Button-->
        <button
            type="submit">
            Create
        </button>
    </form>
</div>

@code {

    [Parameter]
    public CommentCreateFormDto? FormData { get; init; }

    [Parameter]
    public IReadOnlyList<string> Errors { get; init; } = ArraySegment<string>.Empty;

    private string ErrorMessage => string.Join(", ", Errors);
}
