@using KHtmx.Components.Comments.Data
@inject LinkGenerator LinkGenerator

<div
    class="wrapper">
    @if (Errors is not [])
    {
        <div
            class="text-red-800"
            role="alert">
            @ErrorMessage
        </div>
    }

    <form
        class="flex flex-row gap-4 py-2"
        hx-patch="@LinkGenerator.GetPathByName(CommentEndpoints.UpdateComment.EndpointName, new { id = FormData?.Id })"
        hx-on::after-request="htmx.trigger('#comment_dialog', 'close')">
        <AntiforgeryToken />

        <!-- Hidden CommentId Input-->
        <input
            type="hidden"
            name="id"
            value="@FormData?.Id" />

        <!-- Comment Input-->
        <input
            type="text"
            placeholder="Comment"
            autofocus
            name="text"
            value="@FormData?.Text" />

        <!-- Submit Button-->
        <button
            type="submit">
            Edit
        </button>
    </form>
</div>

@code {

    [Parameter] public CommentEditFormDto? FormData { get; init; }

    [Parameter] public IReadOnlyList<string> Errors { get; init; } = ArraySegment<string>.Empty;

    private string ErrorMessage => string.Join(", ", Errors);
}
