@using KHtmx.Comments

<div
    class="wrapper">
    @if (Errors is not [])
    {
        <div
            class="text-red-800"
            role="alert">
            @ErrorMessage
        </div>
    }

    <form
        class="flex flex-row gap-4 py-2"
        hx-patch="@(CommentsEndpointExtensions.CommentsEndpoint + "/" + Comment?.Id)"
        hx-on="htmx:afterRequest:htmx.trigger('#comment_dialog', 'close')">
        
        <AntiforgeryToken />

        <!-- Hidden CommentId Input-->
        <input
            type="hidden"
            name="id"
            value="@Comment?.Id" />

        <!-- Comment Input-->
        <input
            type="text"
            placeholder="Comment"
            name="text"
            value="@Comment?.Text" />

        <!-- Submit Button-->
        <button
            type="submit">
            Edit
        </button>
    </form>
</div>

@code {

    [Parameter]
    public EditCommentFormDto? Comment { get; init; }

    [Parameter]
    public IReadOnlyList<string> Errors { get; init; } = ArraySegment<string>.Empty;

    private string ErrorMessage => string.Join(", ", Errors);
}
