@using KHtmx.Models
@using KHtmx.Components.Account.Data
@inject LinkGenerator LinkGenerator

<!-- TODO: Find a better background color for the dialog -->
@* ReSharper disable once Blazor.EditorRequired *@
<SelfClosingDialogComponent Id="login-dialog" class="p-4 rounded-xl bg-gray-800">
    <form
        class="flex flex-col gap-6"
        hx-post="@LinkGenerator.GetPathByName(AccountEndpoints.Login.EndpointName)"
        hx-target="#login-dialog"
        hx-swap="outerHTML swap:200ms">

        @if (ValidationFailures is not [])
        {
            @foreach (var failure in ValidationFailures)
            {
                <p class="text-invalid">@failure.ErrorMessage</p>
            }
        }

        <AntiforgeryToken />

        <!-- Username Input -->
        <LabelledInput
            Id="login-dialog_username"
            Label="Username"
            name="username"
            type="text"
            class="p-2"
            autofocus
            required
            value="@FormData?.Username"
            autocomplete="username" />

        <!-- Password Input -->
        <LabelledInput
            Id="login-dialog_password"
            Label="Password"
            name="password"
            type="password"
            class="p-2"
            required
            autocomplete="current-password" />

        <!-- Remember Me Input -->
        <LabelledInput
            Id="login-dialog_remember-me"
            Label="Remember Me"
            InlineLabel="true"
            name="rememberMe"
            type="checkbox"
            value="true"
            checked="@FormData?.RememberMe" />

        <!-- Login Button -->
        <button
            class="bg-action rounded-md mx-auto px-4 py-2 hover:bg-action-hover focus-visible:bg-action-hover"
            type="submit">
            Login
        </button>
    </form>
</SelfClosingDialogComponent>

@code {

    [Parameter] public ValidationFailureCollection ValidationFailures { get; set; } = [];

    [Parameter] public LoginFormDto? FormData { get; set; }

}
