@using Microsoft.AspNetCore.Identity
@inject LinkGenerator LinkGenerator

@* ReSharper disable once Blazor.EditorRequired *@
<SelfClosingDialogComponent
    Id="register-dialog">
    @if (ValidationFailures is not [])
    {
        <div>
            <ul>
                @foreach (var failure in ValidationFailures)
                {
                    <li>@failure.Description</li>
                }
            </ul>
        </div>
    }

    <form
        hx-post="@LinkGenerator.GetPathByName(AccountEndpoints.Register.EndpointName)"
        hx-target="#register-dialog"
        hx-swap="outerHTML"
        hx-on="htmx:afterRequest:window.location.reload()">

        <AntiforgeryToken />
        <!-- username input -->
        <input
            id="register-dialog_username"
            name="username" 
            type="text"
            placeholder="Username"
            autocomplete="username"
            hx-preserve
        />

        <!-- email input -->
        <input
            id="register-dialog_email"
            name="email" 
            type="email"
            placeholder="Email"
            autocomplete="email"
            hx-preserve
        />

        <!-- FirstName input -->
        <input
            id="register-dialog_firstName"
            name="firstName" 
            type="text"
            placeholder="First Name"
            autocomplete="given-name"
            hx-preserve
        />

        <!-- LastName input -->
        <input
            id="register-dialog_lastName"
            name="lastName" 
            type="text"
            placeholder="Last Name"
            autocomplete="family-name"
            hx-preserve
        />

        <!-- Password input -->
        <input
            id="register-dialog_password"
            name="password" 
            type="password"
            placeholder="Password"
            autocomplete="new-password"
        />

        <!-- ConfirmPassword input -->
        <input
            id="register-dialog_confirmPassword"
            name="confirmPassword" 
            type="password"
            placeholder="Confirm Password"
            autocomplete="new-password"
        />

        <button
            type="submit">
            Register
        </button>
    </form>
</SelfClosingDialogComponent>

@code
{

    [Parameter]
    public IReadOnlyList<IdentityError> ValidationFailures { get; set; } = [];
}
