@using KHtmx.Account
@inject LinkGenerator LinkGenerator

@* ReSharper disable once Blazor.EditorRequired *@
<SelfClosingDialogComponent
    Id="register-dialog">
    <form
        hx-post="@LinkGenerator.GetPathByName(AccountEndpoints.Register.EndpointName)">
        <input
            type="text"
            placeholder="Username"
            autocomplete="username" />

        <input
            type="password"
            placeholder="Password"
            autocomplete="current-password" />

        <button
            type="submit">
            Register
        </button>
    </form>
</SelfClosingDialogComponent>
