@page "/"

<PageTitle>Home</PageTitle>

<div hx-sse="connect:/rn-updates">
    <CommentForm/>

    <div
        hx-trigger="sse:comment"
        hx-get="/comments">
        <CommentList/>
    </div>
</div>