<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="local" value="/home/kennethhoff/Documents/Development/Personal/Misc-Testing/Misc-Testing/Backend/Analyzers/OXX.Backend.Analyzers/artifacts/package/release/" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="local">
      <package pattern="OXX.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>