<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>@ViewData[index: "Title"] - DotNetViteWithHMR</title>
	@await RenderSectionAsync(name: "Head", required: false)
</head>
<body>
	@RenderBody()
	@await RenderSectionAsync(name: "Scripts", required: false)
</body>
</html>