<div class="md:sticky md:w-48 md:h-screen md:top-0 bg-gradient-to-t from-blue-950 to-purple-700 relative">
    <div class="bg-purple-950 h-12 flex place-content-between md:place-content-center place-items-center text-gray-300">
        <a href="">KH.Blazor.Web</a>
    </div>

    <input type="checkbox" title="Navigation menu" id="navbar-toggler" class="peer md:hidden bg-icon_hamburger absolute bg-no-repeat bg-center"/>

    <nav class="flex flex-col max-md:hidden peer-checked:block" onclick="document.querySelector('#navbar-toggler').click()">
        <NavLink class="px-4 h-12 flex flex-row place-items-center gap-8 text-gray-300" ActiveClass="bg-gray-500" href="" Match="NavLinkMatch.All">
            <HomeIcon/> <span>Home</span>
        </NavLink>

        <NavLink class="px-4 h-12 flex flex-row place-items-center gap-8 text-gray-300" ActiveClass="bg-gray-500" href="counter">
            <PlusIcon/> Counter
        </NavLink>
        <NavLink class="px-4 h-12 flex flex-row place-items-center gap-8 text-gray-300" ActiveClass="bg-gray-500" href="weather">
            <Cloud/> Weather
        </NavLink>
    </nav>
</div>

<style>
    input {
    	appearance: none;
    	cursor: pointer;
    	width: 3.5rem;
    	height: 2.5rem;
    	color: red;
    	position: absolute;
    	top: 0.5rem;
    	right: 1rem;
    	border: 1px solid rgba(255, 255, 255, 0.1);
    }
</style>