:root {
    color-scheme: dark;
}

.floating-label {
    &:is(:not(:has(input:placeholder-shown)), :has(input:focus)) > label {
        left: 0;
        top: -10px;
        font-size: calc((2 / 3) * 1rem);
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
