@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel
@using KHtmx.Comments

<div data-wrapper>
    @if (Errors is not [])
    {
        <div class="text-red-800" role="alert">
            @ErrorMessage
        </div>
    }
    <form
        class="flex flex-row"
        hx-post="/comments"
        hx-target="closest [data-wrapper]"
        hx-swap="outerHTML"
    >
        <div class="htmx-indicator">
            Loading...
        </div>
        <AntiforgeryToken/>

        <!-- Comment Input-->
        <input type="text" placeholder="Comment" name="text" value="@Comment?.Text"/>
        <!-- FirstName input -->
        <input placeholder="First Name" name="firstName" value="@Comment?.FirstName"/>

        <!-- LastName input -->
        <input placeholder="Last Name" name="lastName" value="@Comment?.LastName"/>

        <!-- Submit Button-->
        <button type="submit">Submit</button>
    </form>
</div>

@code {

    [Parameter]
    public CommentFormDto? Comment { get; init; } = null;

    [Parameter]
    public IReadOnlyList<string> Errors { get; init; } = ArraySegment<string>.Empty;

    private string ErrorMessage => string.Join(", ", Errors);
}