@using KHtmx.Posts
@inject LinkGenerator LinkGenerator

<div
    class="wrapper">
    @if (Errors is not [])
    {
        <div
            class="text-red-800"
            role="alert">
            @ErrorMessage
        </div>
    }

    <form
        class="flex flex-row gap-4 py-2"
        hx-post="@LinkGenerator.GetPathByName(PostEndpoints.CreatePost.EndpointName)"
        hx-target="closest .wrapper"
        hx-swap="outerHTML">
        <AntiforgeryToken />

        <!-- Title Input-->
        <input
            type="text"
            name="title"
            placeholder="Title"
            value="@Post?.Title" />
        
        <!-- Content Input-->
        <input
            type="text"
            name="content"
            placeholder="Content"
            value="@Post?.Content" />
        


        <!-- Submit Button-->
        <button
            type="submit">
            Create
        </button>
    </form>
</div>

@code {

    [Parameter]
    public PostCreateFormDto? Post { get; init; }

    [Parameter]
    public IReadOnlyList<string> Errors { get; init; } = ArraySegment<string>.Empty;

    private string ErrorMessage => string.Join(", ", Errors);
}
